#slider-17 .wd-slide {
	min-height: 500px;
}

@media (max-width: 1024px) {
	#slider-17 .wd-slide {
		min-height: 500px;
	}
}

@media (max-width: 767px) {
	#slider-17 .wd-slide {
		min-height: 500px;
	}
}

/*
     FILE ARCHIVED ON 21:41:41 Mar 06, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:36:35 Apr 04, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 5.156
  load_resource: 346.488
  PetaboxLoader3.resolve: 314.268
  PetaboxLoader3.datanode: 9.167
*/